@import '../../assets/scss/variables.scss';

.row{
    margin: 0px !important;
}
.header{
    background-color: $dark;
    color: $ligth;
    padding: 0.5% 7% 0.5% 7%;
    h3{
        font-size: 1.8rem;
    }
    .orderview{
        cursor: pointer;
        font-size: 1.4rem;
    }
    .orderview:hover{
        font-weight: 500;
        color: $yellow;
    }
}

.products{
    text-align: center;
    height: 1000px;
    background-color: $red;
    .card{
        background-color: $yellow;
        margin: 30px;
        padding: 20px;
    }
}


