@import '../../assets/scss/variables.scss';

.row{
    margin: 0px !important;
}
.header{
    border-top: 2px solid $yellow;
    border-bottom:2px solid $yellow;
    background-color: $dark;
    color: $ligth;
    padding: 0.5% 7% 0.5% 7%;
    h3{
        font-size: 1.8rem;
    }
    .orderview{
        cursor: pointer;
        font-size: 1.4rem;
    }
    .orderview:hover{
        font-weight: 500;
        color: $yellow;
    }
}

.products{
    text-align: center;
    background-color: $red;
    .card{
        color: $ligth;
        background-color: $dark;
        margin: 30px;
        padding: 20px;
        border-bottom: 5px solid $yellow;
    }
    .image-product{
        img{
            border-radius: 10px;
            width: 300px;
        }
        margin-bottom: 30px;
    }
}



